/* regole GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

header .fa-solid {
    color: #5b5858;
}

.left-side .fa-solid {
    color: white;
}


/* regole HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: #f8f9fa;
}

.logo-mobile {
    max-width: 60%;
    min-width: 60px;
}

.logo-desktop {
    display: none;
}

header .navbar.bg-body-tertiary .d-flex {
    width: 100%;
}

header .form-control {
    background-color: #e5e5e5;
    padding: 0.375rem 2.5rem;
}

.fa-magnifying-glass {
    position: relative;
    top: 10px;
    left: 29px;
}
   

.fa-solid.fa-bars,
.fa-solid.fa-circle-question,
.fa-solid.fa-ellipsis-vertical {
    display: none;
}

.fa-solid.fa-bell {
    color: orange;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.dropdown-menu[data-bs-popper] {
    position: absolute;
    left: auto;
    right: 30px;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    border-color: transparent;
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (min-width:992px) {
    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        display: block;
        margin-left: 20px;
    }

    .fa-solid.fa-bars,
    .fa-solid.fa-circle-question,
    .fa-solid.fa-ellipsis-vertical,
    .fa-solid.fa-bell {
        display: inline-block;
        padding: 0 8px;
    }
}

/* regole MAIN - SEZIONE CENTRALE UNICA */
main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}


/* regole NAV - SINISTRA */
.left-side {
    height: 100%;
    width: 80px;
    background: url(../img/sidebar-bg.png);
    background-color: #051e34;
    padding: 20px 0;
    color: white;
}

.left-side .fa-solid {
    font-size: 20px;
    padding: 10px 5px;
    min-width: 35px;
}

.nav-left-section {
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nav-left-section:hover {
    background-color: #7c8895;
    cursor: pointer;
}

.icon-nav-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-nav-left span {
    display: none;
}

/* MD */
@media screen and (max-width:991px) {
    .nav-left-section {
        width: 45%;
    }
}

/* LG */
@media screen and (min-width:992px) {
    .icon-nav-left span {
        display: inline-block;
        margin-left: 10px;
    }
}


/* regole CONTENUTO PRINCIPALE - DESTRA */
.right-side {
    height: 100%;
    width: calc(100% - 80px);
    overflow: scroll;
}


/* regole BARRA RIEPILOGO - SUPERIORE - BLU */
.status {
    width: 100%;
    height: 235px;
    background-color: #1b72e8;
    color: white;
    padding: 20px;
}

.new-student {
    margin-bottom: 20px;
}

.breadcrumb-item,
.breadcrumb-item.active,
.breadcrumb .percorso,
.percorso-xxl {
    color: white;
    background-color: #165bba;
    border-radius: 15px;
    padding: 0 5px;
    font-size: 12px;
}

.breadcrumb-item.active.pianoblaze {
    position: relative;
    top: 5px;
}

.breadcrumb-item.treapp a {
    color: white;
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, "»");
    color: white;
    scale: 2;
    position: relative;
    left: 5px;
    bottom: 2px;
}

.breadcrumb-item.active.cross_none {
    background-color: transparent;
}

.percorso-xxl {
    display: none;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-width: 50%;
}

.email-on-popup {
    margin-bottom: 10px;
}

.form-check.proseguire {
    margin-bottom: 1rem;
}

/* MD */
@media screen and (min-width:768px) {
    .status {
        height: 140px;
    }
}

/* LG */
@media screen and (min-width:992px) {
    .left-side {
        width: 140px;
    }
    
    .right-side {
        width: calc(100% - 140px);
    }

    .breadcrumb .percorso {
        display: none;
    }

    .percorso-xxl {
        display: inline-block;
    }
}

/* regole PROSSIME CLASSI */
.prossimeclassi {
    border: 1px solid rgb(181, 176, 176);
    border-radius: 8px;
    margin: 20px 5px;
}

.prossimeclassi h4 {
    background-color: #f7f7f7;
    padding: 15px;
    border-bottom: 1px solid rgb(181, 176, 176);
}

.datainizio,
.roi {
    display: none;
}

.classe {
    border-top: 1px solid rgb(181, 176, 176);
    border-bottom: 1px solid rgb(181, 176, 176);
}

.classavatar {
    width: 30px;
}

.status-button {
    padding: 2px 4px;
    border-radius: 9px;
    font-size: 12px;
    width: 35px;
    color: white;
}

.status-button.red {
    background-color: #dc3545;
    width: 40px;
    position: relative;
    right: 3px;
}

.status-button.green {
    background-color: #198754;
}

.status-button.yellow {
    background-color: #ffc107;
    width: 50px;
    position: relative;
    right: 7px;
}

/* MD */
@media screen and (min-width:768px) {
    .datainizio,
    .roi {
        display: block;
    }
}

/* regole FAQ */
.faq {
    border: 1px solid rgb(181, 176, 176);
    border-radius: 8px;
    margin: 20px 5px;
}

.faq h4 {
    background-color: #f7f7f7;
    padding: 15px;
    border-bottom: 1px solid rgb(181, 176, 176);
}

/* regole TODO */
.todo {
    border: 1px solid rgb(181, 176, 176);
    border-radius: 8px;
    margin: 20px 5px;
}

.todo h4 {
    background-color: #f7f7f7;
    padding: 15px;
    border-bottom: 1px solid rgb(181, 176, 176);
}

.list-group {
    padding: 15px 10px;
}


/* regole UTENTI ATTIVI */
.utentiattivi {
    border: 1px solid rgb(181, 176, 176);
    border-radius: 8px;
    margin: 20px 5px;
}

.utentiattivi .text-big {
    font-size: 20px;
}

.utentiattivi .underline {
    text-decoration: underline;
    color: blue;
}

.utentiattivi .card {
    margin: 20px;
    border: 1px solid rgb(181, 176, 176);
}

.utentiattivi img {
    max-width: 100%;
}