/* regole GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

.fa-solid {
    color: #5b5858;
}


/* regole HEADER */
header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}

.logo-mobile {
    max-width: 60%;
    min-width: 60px;
}

.logo-desktop {
    display: none;
}

header .navbar.bg-body-tertiary .d-flex {
    width: 100%;
}

.fa-solid.fa-bars,
.fa-solid.fa-circle-question,
.fa-solid.fa-ellipsis-vertical {
    display: none;
}

.fa-solid.fa-bell {
    color: orange;
    font-size: 20px;
}

@media screen and (min-width:992px) {
    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        display: block;
        margin-left: 20px;
    }

    .fa-solid.fa-bars,
    .fa-solid.fa-circle-question,
    .fa-solid.fa-ellipsis-vertical,
    .fa-solid.fa-bell {
        display: inline-block;
        padding: 0 8px;
    }
}

/* regole MAIN - SEZIONE CENTRALE UNICA */
main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}


/* regole NAV - SINISTRA */
.left-side {
    height: 100%;
    width: 80px;
    background: url(../img/sidebar-bg.png);
    background-color: #051e34;
}


/* regole CONTENUTO PRINCIPALE - DESTRA */
.right-side {
    height: 100%;
    width: calc(100% - 80px);
    overflow: scroll;
}


/* regole BARRA RIEPILOGO - SUPERIORE - BLU */
.status {
    width: 100%;
    height: 200px;
    background-color: #1b72e8;
}


/* MD */
@media screen and (min-width:768px) {
    .status {
        height: 140px;
    }
}

/* LG */
@media screen and (min-width:992px) {
    .left-side {
        width: 140px;
    }
    
    .right-side {
        width: calc(100% - 140px);
    }
}